@import "tailwindcss";

:root {
  --background: #EDF1F5;
  --foreground: #8F8F8F;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --foreground: #9e9e9e;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
